body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #F4F4F4;
}

.content {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

.groupList {
	padding: 15px;
	background: white;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.groupList li {
	list-style: circle;
	margin-left: 5px;
}


.button_1 {
	height: 38px;
	background: #E8491D;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}

.bgstyle {
	padding: 15px;
	background: white;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}

header {
	background: lightpink;
	color: #FFFFFF;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #FFFFFF 3px solid;
}

header a {
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 22px;
}

header li {
	float: left;
	display: inline;
	/* Top Right Bottom Left */
	padding: 0 20px 0 20px;
}

header #navigation {
	float: left;
}

header #navigation h1 {
	margin: 0;
	font-size: 40px;
}

header nav {
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a {
	color: #ADD8E6;
	font-weight: bold;
}


header a:hover {
	color: #ADD8E6;
	font-weight: bold;
}

#landingPage {
	background: url('../img/support.jpeg') no-repeat;
	min-height: 600px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#landingPageabout {
	background: url('../img/Team.jpg') no-repeat;
	min-height: 600px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#landingPageevents {
	background: url('../img/vitalhelp.jpg') no-repeat;
	min-height: 600px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#landingPagecontact {
	background: url('../img/contactuskeys.jpg') no-repeat;
	min-height: 600px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#landingPageinfo {
	background: url('../img/lightbulb.jpg') no-repeat;
	min-height: 590px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#FourFacts {
	width: 300px; 
	height: 250px;
}

#Benefits { 
	height: 400px;
}

#MoreFacts {
	width: 300px; 
	height: 250px;
}

.contactinfobox {
	text-align: center;
	padding: 15px;
	background: white;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}

#landingPage h1 {
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#landingPage p {
	font-size: 20px;
}

iframe {
	width: 350px; 
	height: 250px;
}

#welcomeinfo h1 {
	font-size: 36px;
}

#newsletterTab {
	padding: 15px;
	color: #FFFFFF;
	background: lightpink;
	border-top: #FFFFFF 3px solid;
	border-bottom: #FFFFFF 3px solid;
}

#newsletterTab h1 {
	float: left;
}

#newsletterTab form {
	float: right;
	margin-top:15px;
}

#newsletterTab input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}	

/* Row of Boxes */

#boxrow {
	margin-top: 20px;
}

#boxrow .box {
	float: left;
	width: 30%;
	padding: 20px;
	text-align: center;
}

#boxrow h1 {
	font-size: 36px;
}

#main h1 {
	font-size: 36px;
}

aside#sidecolumn {
	float: right;
	width: 30%;
	margin-top: 10px;
}

aside#sidecolumn1 {
	float: right;
	width: 30%;
	margin-bottom: 10px;
}

article#maincolumn {
	float: left;
	width: 65%;
}

article#mhvideo {
	float: left;
	width: 65%;
}

#NotAlone {
	height: 250px;
	width: 350px;
}

#Name {
	height: 250px;
	width: 350px;
}

#OK {
	height: 250px;
	width: 350px;
}

#PDF {
	height: 300px;
	width: 350px;
}

/* Events Page */

ul#events li {
	list-style: none;
	padding: 20px;
	border: #CCCCCC solid 1px;
	margin-bottom: 5px;
	background: #E6E6E6;
}

#eventstable {
	border-collapse: collapse;
	width: 100%;
}

#eventstable td, #eventstable th {
	border: 1px solid #DDD;
	padding: 8px;
}

#eventstable tr:nth-child(even) {
	background-color: #F2F2F2;
}

#eventstable tr:hover {
	background-color: #DDD;
}

#eventstable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: lightpink;
	color: white;
}

footer {
	padding: 20px;
	margin-top: 20px;
	color: #FFFFFF;
	background-color: #ADD8E6;
	text-align: center;
}

#stage {
    margin: 1em auto;
    width: 360px;
    height: 270px;
    border: 10px solid #fff;
    overflow: hidden;
  }

#stage a {
    position: relative;
    display: inline-block;
}

#stage a::after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    content: attr(title);
    font-weight: bold;
    font-size: 2em;
    color: #fff;
    text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 2px 2px 0 #333;
  }

  #stage a:nth-of-type(2) {
    left: 360px;
    top: -50%;
    animation-name: slider;
    animation-delay: 4s;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0,1.5,0.5,1);
  }
  
  #stage a:nth-of-type(n+3) {
    display: none;
  }

  @keyframes slider {
    from { transform: translateY(-50%) rotate(30deg); left: 360px; }
    to   { transform: translateY(-50%); left: 0px; }
  }

/* Media Queries to keep website responsive on all devices */
@media (max-width: 768px){
	header #navigation, header nav, header nav li,
	#newsletterTab h1, #newsletterTab form, #boxrow .box, 
	article#maincolumn, aside#sidecolumn, aside#sidecolumn1, iframe{
		float: none;
		text-align: center;
		width: 100%;
	}

header {
	padding-bottom: 20px;
}

#landingPage {
	min-height: 400px;
}

#landingPage h1 {
	margin-top: 40px;
}

#newsletterTab button {
	display: block;
	width: 100%;
}

#newsletterTab form input[type="email"] {
	width: 100%;
	margin-bottom: 5px;
	}
	
#PDF {
	height: 200px;
	width: 200px;
}

#stage a img {
	height: 300px;
	width: 330px;
}

#stage {
	border: none;
}

}



























